[worldserver]

########################################
# NeoLithic configuration
########################################
#
#    NeoLithic.Enable
#        Description: Enable NeoLithic module
#        Default:     0 - Disabled
#                     1 - Enabled
#

NeoLithic.Enable = 1
